# === Assets ===
assets/** linguist-vendored=true
examples/**/assets/** linguist-vendored=true

# === 3D Models ===
*.gltf binary linguist-vendored=true
*.glb binary linguist-vendored=true
*.obj binary linguist-vendored=true
*.fbx binary linguist-vendored=true
*.cube binary linguist-vendored=true
*.hdr binary linguist-vendored=true
*.ktx2 binary linguist-vendored=true