[package]
name = "three"
version = "0.1.0"
edition = "2024"

[lib]
crate-type = ["rlib"]

[dependencies]
wgpu = "28.0.0"

raw-window-handle = "0.6"
winit = { version = "0.30", optional = true }

bytemuck = { version = "1.24", features = ["derive", "min_const_generics"]}
glam = { version = "0.31.0" , features = ["bytemuck"] }
slotmap = { version = "1.1.1", features = ["serde"] }
xxhash-rust = { version = "0.8.15", features = ["xxh3"] }

minijinja = {version ="2.15.1", features = ["loader", "custom_syntax"] }
rust-embed = "8.11.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

image = "0.25"
gltf = {version = "1.4.1", features =[
    "extensions", "KHR_materials_pbrSpecularGlossiness", 
    "KHR_materials_specular" , "KHR_materials_emissive_strength", 
    "KHR_materials_ior", "KHR_texture_transform"],  optional = true}
base64 = "0.22"

paste = "1.0"

pollster = "0.4" 
env_logger = "0.11"
log = "0.4"
anyhow = "1.0"
thiserror = "2.0.18"
uuid = { version = "1.20.0", features = ["v4", "fast-rng", "macro-diagnostics", "js"] }
md5 = "0.8.0"
lasso = { version = "0.7", features = ["multi-threaded"] }
once_cell = "1.20"

rustc-hash = "2.1.1"
smallvec = "1.15"
half = "2.4"

parking_lot = { version = "0.12", features = ["deadlock_detection"] }

tokio = { version = "1.43", features = ["fs", "rt-multi-thread", "macros"] }
futures = "0.3"
reqwest = { version = "0.13.1", default-features = false, features = ["default-tls"], optional = true }

[features]
default = ["winit", "gltf", "http"]  
winit = ["dep:winit"]
gltf = ["dep:gltf"]
http = ["dep:reqwest"]


[dev-dependencies]
# egui = "0.33"
# egui-winit = "0.33"
# egui-wgpu = "0.33"
egui = { git = "https://github.com/emilk/egui.git", rev = "4a9fc7e6417b9ca838b880f2a89fd16468aece67" }
egui-wgpu = { git = "https://github.com/emilk/egui.git", rev = "4a9fc7e6417b9ca838b880f2a89fd16468aece67", features = ["winit"] }
egui-winit = { git = "https://github.com/emilk/egui.git", rev = "4a9fc7e6417b9ca838b880f2a89fd16468aece67" }
rfd = "0.17.2"


[target.'cfg(target_arch = "wasm32")'.dependencies]
console_error_panic_hook = "0.1.6"
console_log = "1.0"
wgpu = { version = "28.0", features = ["webgl"]}
wasm-bindgen = "0.2.108"
wasm-bindgen-futures = "0.4.58"
web-sys = { version = "0.3.85", features = [
    "Document",
    "Window",
    "Element",
]}

[[example]]
name = "gltf_viewer"
path = "examples/gltf_viewer/main.rs"

[[example]]
name = "gltf_viewer_lowlevel"
path = "examples/gltf_viewer/main_lowlevel.rs"